<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-events-heading" data-cy="EventsCreateUpdateHeading">Create or edit a Events</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_eventName">Event Name</label>
          <input type="text" class="form-control" name="eventName" id="field_eventName" data-cy="eventName" formControlName="eventName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_eventDate">Event Date</label>
          <div class="d-flex">
            <input
              id="field_eventDate"
              data-cy="eventDate"
              type="datetime-local"
              class="form-control"
              name="eventDate"
              formControlName="eventDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_user_id">User Id</label>
          <input type="number" class="form-control" name="user_id" id="field_user_id" data-cy="user_id" formControlName="user_id" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_park">Park</label>
          <select class="form-control" id="field_park" data-cy="park" name="park" formControlName="park" [compareWith]="comparePark">
            <option [ngValue]="null"></option>
            <option [ngValue]="parkOption" *ngFor="let parkOption of parksSharedCollection">{{ parkOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_equipement">Equipement</label>
          <select
            class="form-control"
            id="field_equipement"
            data-cy="equipement"
            name="equipement"
            formControlName="equipement"
            [compareWith]="compareEquipement"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="equipementOption" *ngFor="let equipementOption of equipementsSharedCollection">
              {{ equipementOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
