<div>
  <h2 id="page-heading" data-cy="ParkHeading">
    <span>Parks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-park"
        [routerLink]="['/park/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Park </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="parks?.length === 0">
    <span>No Parks found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="parks && parks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="parkName">
            <div class="d-flex">
              <span>Park Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="parkAddress">
            <div class="d-flex">
              <span>Park Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="longtitude">
            <div class="d-flex">
              <span>Longtitude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="latitude">
            <div class="d-flex">
              <span>Latitude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="verified">
            <div class="d-flex">
              <span>Verified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateInstall">
            <div class="d-flex">
              <span>Date Install</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateOpen">
            <div class="d-flex">
              <span>Date Open</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateClose">
            <div class="d-flex">
              <span>Date Close</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="note">
            <div class="d-flex">
              <span>Note</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reseller">
            <div class="d-flex">
              <span>Reseller</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let park of parks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/park', park.id, 'view']">{{ park.id }}</a>
          </td>
          <td>{{ park.parkName }}</td>
          <td>{{ park.parkAddress }}</td>
          <td>{{ park.longtitude }}</td>
          <td>{{ park.latitude }}</td>
          <td>{{ park.verified }}</td>
          <td>{{ park.dateInstall | formatMediumDatetime }}</td>
          <td>{{ park.dateOpen | formatMediumDatetime }}</td>
          <td>{{ park.dateClose | formatMediumDatetime }}</td>
          <td>{{ park.note }}</td>
          <td>{{ park.reseller }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/park', park.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/park', park.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(park)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="parks && parks.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
