<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-park-heading" data-cy="ParkCreateUpdateHeading">Create or edit a Park</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_parkName">Park Name</label>
          <input type="text" class="form-control" name="parkName" id="field_parkName" data-cy="parkName" formControlName="parkName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_parkAddress">Park Address</label>
          <input
            type="text"
            class="form-control"
            name="parkAddress"
            id="field_parkAddress"
            data-cy="parkAddress"
            formControlName="parkAddress"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_longtitude">Longtitude</label>
          <input
            type="number"
            class="form-control"
            name="longtitude"
            id="field_longtitude"
            data-cy="longtitude"
            formControlName="longtitude"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_latitude">Latitude</label>
          <input type="number" class="form-control" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_verified">Verified</label>
          <input type="checkbox" class="form-check" name="verified" id="field_verified" data-cy="verified" formControlName="verified" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateInstall">Date Install</label>
          <div class="d-flex">
            <input
              id="field_dateInstall"
              data-cy="dateInstall"
              type="datetime-local"
              class="form-control"
              name="dateInstall"
              formControlName="dateInstall"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateOpen">Date Open</label>
          <div class="d-flex">
            <input
              id="field_dateOpen"
              data-cy="dateOpen"
              type="datetime-local"
              class="form-control"
              name="dateOpen"
              formControlName="dateOpen"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateClose">Date Close</label>
          <div class="d-flex">
            <input
              id="field_dateClose"
              data-cy="dateClose"
              type="datetime-local"
              class="form-control"
              name="dateClose"
              formControlName="dateClose"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_note">Note</label>
          <input type="text" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_reseller">Reseller</label>
          <input type="text" class="form-control" name="reseller" id="field_reseller" data-cy="reseller" formControlName="reseller" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
