<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="media">
      <h2 data-cy="mediaDetailsHeading"><span>Media</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ media.id }}</span>
        </dd>
        <dt><span>File Name</span></dt>
        <dd>
          <span>{{ media.fileName }}</span>
        </dd>
        <dt><span>File Path</span></dt>
        <dd>
          <span>{{ media.filePath }}</span>
        </dd>
        <dt><span>File Type</span></dt>
        <dd>
          <span>{{ media.fileType }}</span>
        </dd>
        <dt><span>Auth Type</span></dt>
        <dd>
          <span>{{ media.authType }}</span>
        </dd>
        <dt><span>Park</span></dt>
        <dd>
          <div *ngIf="media.park">
            <a [routerLink]="['/park', media.park.id, 'view']">{{ media.park.id }}</a>
          </div>
        </dd>
        <dt><span>Equipement</span></dt>
        <dd>
          <div *ngIf="media.equipement">
            <a [routerLink]="['/equipement', media.equipement.id, 'view']">{{ media.equipement.id }}</a>
          </div>
        </dd>
        <dt><span>Report</span></dt>
        <dd>
          <div *ngIf="media.report">
            <a [routerLink]="['/report', media.report.id, 'view']">{{ media.report.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/media', media.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
